.header{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 150px;

    img{
        height: 90px;

        @include media(400px){
            height: 120px;
        }
    }
}