.search-form{
    width: 100%;
    text-align: center;

    &__label{
        display: block;
        color: $color-rm;
        margin-bottom: 15px;
    }

    &__search{
        height: 40px;
        display: block;
        margin: auto;
        border-radius: 20px;
        background-color: $color-rm;
        border: 1px solid $color-main;
        padding-left: 20px;
        

        &:focus{
            outline: none;
            box-shadow: 0px 0px 6px 2px $color-portal;
        }
    }
}