ul{
  list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a{ 
  color:inherit;
  text-decoration: none;
}

.recipe__btn:hover{
  color:red
}


.App{
  text-align: center;
  max-width: 800px;
  margin: auto;
}

img{
  width: 100%;
  max-width: 200px;
}

input{
  margin: 50px;
}

.recipe-info-wrapper{
  margin-top: 50px;
}