// Colours
$color-main: rgb(34, 34, 34);
$color-rm: #00afc7;
$color-portal: #78ff39; 
$color-background: rgb(34, 34, 34);

//Fonts
$font-main: 'Nunito', sans-serif;

//Screen sizes
$tablet: 768px;
$desktop: 1024;


